package ${package.Mapper};

import ${package.Entity}.${entity};
import ${basePackage}.${VOPackage}.${entity}VO;
import ${superMapperClassPackage};
#if(${mapperAnnotationClass})
import ${mapperAnnotationClass.name};
#end
#if(${showMapperMethod})
import java.util.List;
import java.util.Map;
import com.baomidou.mybatisplus.core.metadata.IPage;
import org.apache.ibatis.annotations.Param;
#end


/**
 * $!{table.comment} Mapper 接口
 *
 * @author ${author}
 * @since ${date}
 */
#if(${mapperAnnotationClass})
@${mapperAnnotationClass.simpleName}
#end
#if(${kotlin})
interface ${table.mapperName} : ${superMapperClass}<${entity},${entity}VO>
#else
public interface ${table.mapperName} extends ${superMapperClass}<${entity},${entity}VO> {

    #if(${showMapperMethod})
    @Override
    List<${entity}VO> listByMap(@Param("map") Map<String,Object> map, IPage<${entity}VO> page);
    #end

}
#end
