package ${package.Service};

import ${package.Entity}.${entity};
import ${basePackage}.${voPackage}.${entity}Vo;
import ${superServiceClassPackage};


/**
 * $!{table.comment} 服务类
 *
 * @author ${author}
 * @since ${date}
 */
#if(${kotlin})
interface ${table.serviceName} : ${superServiceClass}<${entity}>
#else
public interface ${table.serviceName} extends ${superServiceClass}<${entity},${entity}Vo> {



}
#end
