package ${package.Mapper};

import com.baomidou.mybatisplus.core.metadata.IPage;
import ${superMapperClassPackage};
import org.apache.ibatis.annotations.Param;
#if(${mapperAnnotationClass})
import ${mapperAnnotationClass.name};
#end
import ${basePackage}.${VOPackage}.${entity}VO;
import ${package.Entity}.${entity};

import java.util.List;

/**
 * $!{table.comment} Mapper 接口
 *
 * @author ${author}
 */
#if(${mapperAnnotationClass})
@${mapperAnnotationClass.simpleName}
#end
#if(${kotlin})
interface ${table.mapperName} : ${superMapperClass}<${entity}>
#else
public interface ${table.mapperName} extends ${superMapperClass}<${entity}> {

    <G> List<${entity}VO> listByGeneric(@Param("generic") G generic, IPage<${entity}VO> page);

}
#end
