package ${package.Mapper};

#if(${mapperAnnotationClass})
import ${mapperAnnotationClass.name};
#end
#if(${showMapperMethod})
import org.apache.ibatis.annotations.Param;
import com.baomidou.mybatisplus.core.metadata.IPage;
#end
import ${superMapperClassPackage};
import ${package.Entity}.${entity};
import ${basePackage}.${VOPackage}.${entity}VO;

#if(${showMapperMethod})
import java.util.List;
#end


/**
 * $!{table.comment} Mapper 接口
 *
 * @author ${author}
 */
#if(${mapperAnnotationClass})
@${mapperAnnotationClass.simpleName}
#end
#if(${kotlin})
interface ${table.mapperName} : ${superMapperClass}<${entity}, ${entity}VO>
#else
public interface ${table.mapperName} extends ${superMapperClass}<${entity}, ${entity}VO> {
    #if(${showMapperMethod})

    @Override
    <G> List<${entity}VO> listByGeneric(@Param("generic") G generic, @Param("page") IPage<${entity}VO> page);
    #end

}
#end
