package ${package.Mapper};

#if(${mapperAnnotationClass})
import ${mapperAnnotationClass.name};
#end
#if(${showMapperMethod})
import org.apache.ibatis.annotations.Param;
import com.baomidou.mybatisplus.core.metadata.IPage;
import ${injectionClassFullName};
#end
import ${package.Entity}.${entity};
import ${basePackage}.${VOPackage}.${entity}VO;
import ${superMapperClassPackage};

#if(${showMapperMethod})
import java.util.List;
#end


/**
 * $!{table.comment} Mapper 接口
 *
 * @author ${author}
 * @since ${date}
 */
#if(${mapperAnnotationClass})
@${mapperAnnotationClass.simpleName}
#end
#if(${kotlin})
interface ${table.mapperName} : ${superMapperClass}<${entity},${entity}VO>
#else
public interface ${table.mapperName} extends ${superMapperClass}<${entity},${entity}VO> {

    #if(${showMapperMethod})
    @Override
    List<${entity}VO> listByInjection(@Param("injection") InjectionDTO.ImmutableInjection<${entity}> injection, @Param("page") IPage<${entity}VO> page);
    #end

}
#end
