package ${basePackage}.${package4DTO};

#foreach($pkg in ${importPackages4DTO})
import ${pkg};
#end
#if(${generateImport})
import com.alibaba.excel.annotation.ExcelIgnoreUnannotated;
import com.alibaba.excel.annotation.ExcelProperty;
#end
#if(${validated})
## ---字段非空验证---
    #foreach($field in ${table.fields})
        #if(${field.metaInfo.nullable}==false && !${field.keyFlag} &&${field.propertyType}!="String")
import ${javaApiPackage}.validation.constraints.NotNull;
            #break
        #end
    #end
## ---字符串非空验证---
    #foreach($field in ${table.fields})
        #if(${field.metaInfo.nullable}==false && !${field.keyFlag} &&${field.propertyType}=="String")
import ${javaApiPackage}.validation.constraints.NotBlank;
            #break
        #end
    #end
## ---字符串长度验证---
    #foreach($field in ${table.fields})
        #if(${field.propertyType}=="String")
import ${javaApiPackage}.validation.constraints.Size;
            #break
        #end
    #end
#end
#if(${springdoc})
import io.swagger.v3.oas.annotations.media.Schema;
    #elseif(${swagger})
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
#end
#if(${entityLombokModel})
import lombok.Data;
    #if(${chainModel}&&${generateImport})
import lombok.experimental.Accessors;
    #end
#end

/**
 * $!{table.comment}-新增DTO
 *
 * @author ${author}
 * @see ${package.Entity}.${entity}
 * @see ${package.Mapper}.${table.mapperName}
 * @see ${package.ServiceImpl}.${table.serviceImplName}
 */
#if(${entityLombokModel})
@Data
  #if(${chainModel}&&!${generateImport})
@Accessors(chain = true)
  #end
#end
#if(${swaggerModelWithAnnotation})
#if(${springdoc})
##@Schema(name = "${entity}InsertDTO ", description = "$!{table.comment}-新增DTO")
@Schema(name = "${entity}InsertDTO$!{swaggerUUID}", description = "$!{table.comment}-新增DTO")
#elseif(${swagger})
##@ApiModel(value = "${entity}InsertDTO", description = "$!{table.comment}-新增DTO")
@ApiModel(value = "${entity}InsertDTO$!{swaggerUUID}", description = "$!{table.comment}-新增DTO")
#end
#end
#if(${generateImport})
@ExcelIgnoreUnannotated
#end
public class ${entity}InsertDTO {
###if(${entitySerialVersionUID})
##
##    private static final long serialVersionUID = 1L;
###end
## ----------  BEGIN 字段循环遍历  ----------
#foreach($field in ${table.fields})
#if(${field.keyFlag})
#elseif(${field.versionField})
#elseif(${field.logicDeleteField})
#elseif($editExcludeColumns.contains(${field.columnName}))
#else

    #if("$!field.comment" != "")
        #if(${springdoc})
    @Schema(description = "${field.comment}")
        #elseif(${swagger})
    @ApiModelProperty("${field.comment}")
        #else
    /**
     * ${field.comment}
     */
        #end
    #end
    #if(${validated})## 参数校验
        #if(!${field.metaInfo.nullable})## 非空
            #if(${field.propertyType} == "String")
    @NotBlank(message = "${field.comment}为必填项")
                #else
    @NotNull(message = "${field.comment}为必填项")
            #end
        #end
        #if(${field.propertyType} == "String")## 字符串长度
    @Size(message = "${field.comment}长度不能超过${field.metaInfo.length}", max = ${field.metaInfo.length})
        #end
    #end
    #if(${generateImport})## excel导入
    @ExcelProperty(value = "${field.comment}")
    #end
    private ${field.propertyType} ${field.propertyName};
#end
#end
## ----------  END 字段循环遍历  ----------
#if(!${entityLombokModel})
  #foreach($field in ${table.fields})
  #if(${field.keyFlag})
  #elseif(${field.versionField})
  #elseif(${field.logicDeleteField})
  #elseif($editExcludeColumns.contains(${field.columnName}))
  #else
  #if(${field.propertyType.equals("boolean")})
    #set($getprefix="is")
  #else
    #set($getprefix="get")
  #end

    public ${field.propertyType} ${getprefix}${field.capitalName}() {
        return ${field.propertyName};
    }

  #if(${chainModel}&&!${generateImport})
    public ${entity}InsertDTO set${field.capitalName}(${field.propertyType} ${field.propertyName}) {
  #else
    public void set${field.capitalName}(${field.propertyType} ${field.propertyName}) {
  #end
        this.${field.propertyName} = ${field.propertyName};
  #if(${chainModel})
        return this;
  #end
    }
  #end
#end
## --foreach end---
#end

#if(!${entityLombokModel})

    @Override
    public String toString() {
        return "${entity}{" +
  #foreach($field in ${table.fields})
    #if(${field.keyFlag})
    #elseif(${field.versionField})
    #elseif(${field.logicDeleteField})
    #elseif($editExcludeColumns.contains(${field.columnName}))
    #else
    #if($!{foreach.index}==0)
        "${field.propertyName} = " + ${field.propertyName} +
    #else
        ", ${field.propertyName} = " + ${field.propertyName} +
    #end
    #end
  #end
        "}";
    }
#end
}
