package ${basePackage}.${package4DTO};

#foreach($pkg in ${importPackages4DTO})
import ${pkg};
#end
#if(${springdoc})
import io.swagger.v3.oas.annotations.media.Schema;
#elseif(${swagger})
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
#end
#if(${entityLombokModel})
import lombok.Data;
    #if(${chainModel})
import lombok.experimental.Accessors;
    #end
#end

import java.util.List;

/**
 * $!{table.comment}-查询DTO
 *
 * @author ${author}
 * @see ${package.Entity}.${entity}
 * @see ${package.Mapper}.${table.mapperName}
 * @see ${package.ServiceImpl}.${table.serviceImplName}
 */
#if(${entityLombokModel})
@Data
    #if(${chainModel})
@Accessors(chain = true)
    #end
#end
#if(${springdoc})
##@Schema(name = "${entity}SelectDTO", description = "$!{table.comment}-查询DTO")
@Schema(description = "$!{table.comment}-查询DTO")
#elseif(${swagger})
##@ApiModel(value = "${entity}SelectDTO", description = "$!{table.comment}-查询DTO")
@ApiModel(description = "$!{table.comment}-查询DTO")
#end
public class ${entity}SelectDTO {
###if(${entitySerialVersionUID})
##
##    private static final long serialVersionUID = 1L;
###end
## ----------  BEGIN 字段循环遍历  ----------
#foreach($field in ${table.fields})
#if($selectExcludeFields.contains(${field.propertyName}))
#elseif(${field.logicDeleteField})
#else

    #if("$!field.comment" != "")
        #if(${springdoc})
    @Schema(description = "${field.comment}")
        #elseif(${swagger})
    @ApiModelProperty("${field.comment}")
        #else
    /**
     * ${field.comment}
     */
        #end
    #end
    private ${field.propertyType} ${field.propertyName};
## ----------额外字段-----------start
    #if(${extraFieldSuffixMap})
        #foreach($entry in ${extraFieldSuffixMap.entrySet()})
            #set($key = $entry.key)
            #set($value = $entry.value)
            #set($extraFieldName= "${field.propertyName}${key}")
            #if(${value}=="IN"||${value}=="NOT IN")
                #set($extraFieldType= "List<${field.propertyType}>")
            #else
                #set($extraFieldType= "${field.propertyType}")
            #end
            #if(!$table.fields.contains("${extraFieldName}"))
##   todo 额外类型判断, 如localdatetime等
                #if(!${field.propertyType}=="String" && (${value}=="LIKE"||${value}=="NOT LIKE"))
                #else

                #if("$!field.comment" != "")
                    #if(${springdoc})
    @Schema(description = "${field.comment}(${value})")
                    #elseif(${swagger})
    @ApiModelProperty("${field.comment}(${value})")
                    #else
    /**
     * ${field.comment}(${value})
     */
                    #end
                #end
    private ${extraFieldType} ${extraFieldName};
                #end
            #end
        #end
    #end
## ----------额外字段-----------end
#end
#end
## ----------  END 字段循环遍历  ----------
#if(!${entityLombokModel})
##--getter/setter的foreach start---
#foreach($field in ${table.fields})
#if($selectExcludeFields.contains(${field.propertyName}))
#elseif(${field.logicDeleteField})
#else
  #if(${field.propertyType.equals("boolean")})
    #set($getprefix="is")
  #else
    #set($getprefix="get")
  #end
##----------原始字段getter/setter-----------start
    public ${field.propertyType} ${getprefix}${field.capitalName}() {
        return ${field.propertyName};
    }

  #if(${chainModel})
    public ${entity}SelectDTO set${field.capitalName}(${field.propertyType} ${field.propertyName}) {
  #else
    public void set${field.capitalName}(${field.propertyType} ${field.propertyName}) {
  #end
        this.${field.propertyName} = ${field.propertyName};
  #if(${chainModel})
        return this;
  #end
    }
##----------原始字段getter/setter-----------end
    #if(${extraFieldSuffixMap})
##----------额外字段getter/setter的foreach-----------start
        #foreach($entry in ${extraFieldSuffixMap.entrySet()})
            #set($key = $entry.key)
            #set($value = $entry.value)
            #set($extraFieldName= "${field.propertyName}${key}")
            #if(${value}=="IN"||${value}=="NOT IN")
                #set($extraFieldType= "List<${field.propertyType}>")
            #else
                #set($extraFieldType= "${field.propertyType}")
            #end
            #if(!$table.fields.contains("${field.propertyName}${key}"))

    public ${extraFieldType} ${getprefix}${field.capitalName}${key}() {
        return ${extraFieldName};
    }

                #if(${chainModel})
    public ${entity}SelectDTO set${field.capitalName}${key}(${extraFieldType} ${extraFieldName}) {
                    #else
    public void set${field.capitalName}${key}(${extraFieldType} ${extraFieldName}) {
                #end
        this.${extraFieldName} = ${extraFieldName};
                #if(${chainModel})
        return this;
                #end
    }
            #end
        #end
##----------额外字段getter/setter的foreach-----------start
    #end
#end
#end
##--getter/setter的foreach end---
#end
## --end of #if(!${entityLombokModel})--
#if(${entityColumnConstant})
  #foreach($field in ${table.fields})
  #if($selectExcludeFields.contains(${field.propertyName}))
  #elseif(${field.logicDeleteField})
  #else

    public static final String ${field.name.toUpperCase()} = "${field.name}";
  #end
  #end
#end
#if(!${entityLombokModel})

    @Override
    public String toString() {
        return "${entity}{" +
  #foreach($field in ${table.fields})
  #if($selectExcludeFields.contains(${field.propertyName}))
  #elseif(${field.logicDeleteField})
  #else
    #if($!{foreach.index}==0)
        "${field.propertyName} = " + ${field.propertyName} +
    #else
        ", ${field.propertyName} = " + ${field.propertyName} +
    #end
  #end
  #end
        "}";
    }
#end
}
