package ${basePackage}.${listenerPackage};

import com.alibaba.excel.context.AnalysisContext;
import com.alibaba.excel.read.listener.ReadListener;
import java.util.LinkedList;
import java.util.List;
import ${package.Service}.${table.serviceName};
import ${basePackage}.${voPackage}.${entity}ImportVo;
/**
 * $!{table.comment} 导入监听器
 *
 * @author ${author}
 * @since ${date}
 */
public class ${entity}Listener implements ReadListener<${entity}ImportVo> {
    private final List<${entity}ImportVo> cachedDataList = new LinkedList<>();
    private final ${table.serviceName} baseService;
    private boolean success = false ;

    public ${entity}Listener(${table.serviceName} baseService) {
        this.baseService = baseService;
    }

    @Override
    public void invoke(${entity}ImportVo data, AnalysisContext context) {
        cachedDataList.add(data);
    }

    @Override
    public void doAfterAllAnalysed(AnalysisContext context) {
        success = baseService.importExcel(cachedDataList);
    }

    public boolean isSuccess() {
        return success;
    }


}
