package ${package.Service};

import ${package.Entity}.${entity};
import ${superServiceClassPackage};
import ${basePackage}.${dtoPackage}.${entity}InsertDto;
import ${basePackage}.${dtoPackage}.${entity}UpdateDto;
#if(${pageByDto})
import com.baomidou.mybatisplus.core.metadata.IPage;
import ${basePackage}.${dtoPackage}.${entity}SelectDto;
import ${basePackage}.${voPackage}.${entity}Vo;
#end
#if(${importExcel})
import java.util.List;
import ${basePackage}.${voPackage}.${entity}ImportVo;
#end
/**
 * $!{table.comment} 服务类
 *
 * @author ${author}
 * @since ${date}
 */
#if(${kotlin})
interface ${table.serviceName} : ${superServiceClass}<${entity}>
#else
public interface ${table.serviceName} extends ${superServiceClass}<${entity}> {

    ${entity} insertByDto(${entity}InsertDto dto);

    boolean updateByDto(${entity}UpdateDto dto);
    #if(${pageByDto})

    IPage<${entity}Vo> pageByDto(${entity}SelectDto dto);
##    IPage<${entity}Vo> pageByDto(${entity}SelectDto dto, Long current, Long size);
    #if(${exportExcel})

    void exportExcel(${entity}SelectDto dto);
    #end
    #end

    #if(${importExcel})
    boolean importExcel(List<${entity}ImportVo> importList);
    #end

}
#end
