package ${package.ServiceImpl};

import ${package.Entity}.${entity};
import ${basePackage}.${VOPackage}.${entity}VO;
import ${package.Mapper}.${table.mapperName};
import ${package.Service}.${table.serviceName};
import ${superServiceImplClassPackage};
import org.springframework.stereotype.Service;
#if(${showServiceImplMethod})
#if(${generateSelect})
import com.baomidou.mybatisplus.core.metadata.IPage;
import java.util.List;
#end
#if(${generateDelete}||${generateSelect})
import java.io.Serializable;
#end
#if(${generateImport})
import java.io.InputStream;
#end
#if(${generateExport})
import java.io.OutputStream;
#end
#end

/**
 * $!{table.comment} 服务实现类
 *
 * @author ${author}
 * @since ${date}
 */
@Service
#if(${kotlin})
open class ${table.serviceImplName} : ${superServiceImplClass}<${table.mapperName},${entity},${entity}VO>() implements ${table.serviceName} {

}
#else
public class ${table.serviceImplName} extends ${superServiceImplClass}<${table.mapperName},${entity},${entity}VO> implements ${table.serviceName} {

#if(${showServiceImplMethod})
    #if(${generateInsert})

    @Override
    public <S> ${entity}VO insertByDTO(S s) {
##        ${entity} entity = this.toEntity(DTO);
##        return super.save(entity);
        return super.insertByDTO(s);
    }
##
##    @Override
##    public <S> boolean insertBatchByDTO(Collection<S> DTOList) {
##        List<${entity}> entityList = DTOList.stream().map(this::toEntity).collect(Collectors.toList());
##
##        return super.saveBatch(entityList);
##    }
    #end
    #if(${generateUpdate})

    @Override
    public <S> boolean updateByDTO(S s) {
        return super.updateByDTO(s);
    }
    #end
    #if(${generateDelete})

    @Override
    public boolean removeById(Serializable id) {
        return super.removeById(id);
    }
    #end
    #if(${generateSelect})

    @Override
    public ${entity}VO voById(Serializable id){
        return super.voById(id);
    }

    @Override
    public <S> List<${entity}VO> listByDTO(S s){
        return super.listByDTO(s);
    }

    @Override
    public <S> IPage<${entity}VO> pageByDTO(S s, Long current, Long size){
        return super.pageByDTO(s,current,size);
    }
    #end
    #if(${generateExport})

    @Override
    public <S,U> void exportExcel(S s, OutputStream os, Class<U> clazz) {
        super.exportExcel(s, os, clazz);
    }
    #end
    #if(${generateImport})

    @Override
    public <U> boolean importExcel(InputStream is, Class<U> clazz) {
        return super.importExcel(is,clazz);
    }
    #end
#end

}
#end
