<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${package.Mapper}.${table.mapperName}">
#if(${enableCache})
    <!-- 开启二级缓存 -->
    <cache type="${cacheClassName}"/>

#end
    <sql id="selectFragment">
        <if test="generic != null">
            <foreach collection="generic" item="gen">
                <if test="gen.conditions != null and gen.conditions.size() > 0">
                    <trim prefix="AND ( " suffix=" )" prefixOverrides="AND|OR" suffixOverrides="AND|OR">
                        <foreach collection="gen.conditions" item="item" index="index">
                            ${item.connector}
                            <choose>
                                <when test="item.operator.contains('IN'.toString())">
                                    ${item.field} ${item.operator}
                                    <foreach collection="item.value" item="val" separator="," open="(" close=")">
                                        #{val}
                                    </foreach>
                                </when>
                                <when test="item.operator.contains('IS'.toString())">
                                    ${item.field} ${item.operator}
                                </when>
                                <otherwise>
                                    ${item.field} ${item.operator} #{item.value}
                                </otherwise>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </if>
    </sql>

    <sql id="sortFragment">
        <if test="generic.sorts != null and generic.sorts.size() > 0">
            <foreach collection="generic.sorts" item="item" separator=" , " open="ORDER BY ">
                ${item.field}
                <if test="item.desc == true">
                    DESC
                </if>
            </foreach>
        </if>
    </sql>

#if(${baseResultMap})
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="${package.Entity}.${entity}">
#foreach($field in ${table.fields})
#if(${field.keyFlag})##生成主键排在第一位
        <id column="${field.name}" property="${field.propertyName}" />
#end
#end
#foreach($field in ${table.commonFields})##生成公共字段
        <result column="${field.name}" property="${field.propertyName}" />
#end
#foreach($field in ${table.fields})
#if(!${field.keyFlag})##生成普通字段
        <result column="${field.name}" property="${field.propertyName}" />
#end
#end
    </resultMap>

#end
    #if(${resultMapForVO})
    <!-- vo查询映射结果 -->
    <resultMap id="voMap" type="${basePackage}.${VOPackage}.${entity}VO">
        #foreach($field in ${table.fields})
            #if(${field.keyFlag})##生成主键排在第一位
        <id column="${field.name}" property="${field.propertyName}" />
            #end
        #end
        #foreach($field in ${table.commonFields})##生成公共字段
        <result column="${field.name}" property="${field.propertyName}" />
        #end
        #foreach($field in ${table.fields})
            #if(${field.keyFlag})##生成普通字段
            #elseif(${field.logicDeleteField})
            #else
        <result column="${field.name}" property="${field.propertyName}" />
            #end
        #end
    </resultMap>

    #end
#if(${baseColumnList})
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
#foreach($field in ${table.commonFields})
        ${field.columnName},
#end
        ${table.fieldNames}
    </sql>

#end
    <select id="listByGeneric" #if(${resultMapForVO}) resultMap="voMap"#else resultType="${basePackage}.${VOPackage}.${entity}VO"#end>
        SELECT
        a.*
        FROM
##         ${schemaName} ${table.name} a
        `${table.name}` a
        <where>
            #foreach($field in ${table.fields})
                #if(${field.logicDeleteField})
            a.${field.columnName} = 0
                    #break
                #end
            #end
            <include refid="selectFragment"/>
        </where>
        #if(${orderBySql})
        <if test="generic.sorts == null or generic.sorts.size() == 0">
        ORDER BY ${orderBySql}
        </if>
        #end
        <include refid="sortFragment"/>
    </select>



</mapper>
