package ${package.Mapper};

#if(${mapperAnnotationClass})
import ${mapperAnnotationClass.name};
#end
#if(${showMapperMethod})
##import org.apache.ibatis.annotations.Param;
import com.baomidou.mybatisplus.core.metadata.IPage;
#end
import ${superMapperClassPackage};
import ${mapperDTO.classFullName};
import ${package.Entity}.${entity};
import ${basePackage}.${package4VO}.${entity}VO;


#if(${overrideMethods})
import java.util.List;
#end

/**
 * $!{table.comment} Mapper 接口
 *
 * @author ${author}
 */
#if(${mapperAnnotationClass})
@${mapperAnnotationClass.simpleName}
#end
#if(${kotlin})
interface ${table.mapperName} : ${superMapperClass}<${entity}, ${entity}VO, ${mapperDTO.clazz("${entity}")}>
#else
public interface ${table.mapperName} extends ${superMapperClass}<${entity}, ${entity}VO, ${mapperDTO.clazz("${entity}")}> {
    #if(${overrideMethods})

    @Override
    List<${entity}VO> listByDTO(${mapperDTO.clazz("${entity}")} s, IPage<${entity}VO> page);
    #end

}
#end
