package ${package.ServiceImpl};
#if(${overrideMethods}&&${generateSelect})
import com.baomidou.mybatisplus.core.metadata.IPage;
#end
import ${superServiceImplClassPackage};
import ${package.Entity}.${entity};
import ${basePackage}.${package4VO}.${entity}VO;
import ${package.Mapper}.${table.mapperName};
import ${package.Service}.${table.serviceName};
import org.springframework.stereotype.Service;

#if(${overrideMethods})
import java.util.List;
#if(${generateDelete}||${generateSelect})
import java.io.Serializable;
#end
#if(${generateImport})
import java.io.InputStream;
#end
#if(${generateExport})
import java.io.OutputStream;
#end
#end

/**
 * $!{table.comment} 服务实现类
 *
 * @author ${author}
 */
@Service
#if(${kotlin})
open class ${table.serviceImplName} : ${superServiceImplClass}<${table.mapperName}, ${entity}, ${entity}VO>() implements ${table.serviceName} {

}
#else
public class ${table.serviceImplName} extends ${superServiceImplClass}<${table.mapperName}, ${entity} ,${entity}VO> implements ${table.serviceName} {
#if(${overrideMethods})
    #if(${generateInsert})

    @Override
    public <S> ${entity}VO insertByDTO(S s) {
        // ${entity}InsertDTO
        return super.insertByDTO(s);
    }
    #end
    #if(${generateUpdate})

    @Override
    public <S> boolean updateByDTO(S s) {
        // ${entity}UpdateDTO
        return super.updateByDTO(s);
    }
    #end
    #if(${generateDelete})

    @Override
    public boolean removeById(Serializable id) {
        return super.removeById(id);
    }
    #end
    @Override
    public <S> List<${entity}VO> doSelect(S s, IPage<${entity}VO> page) {
        #if(${selectDTO.classFullName})
        // ${selectDTO.clazz("${entity}")}
            #else
        // ${entity}SelectDTO
        #end
        return super.doSelect(s, page);
    }
    #if(${generateSelect})

    @Override
    public ${entity}VO oneById(Serializable id) {
        return super.oneById(id);
    }

    @Override
    public <S> List<${entity}VO> listByDTO(S s) {
        return super.listByDTO(s);
    }

    @Override
    public <S> IPage<${entity}VO> pageByDTO(S s, Long current, Long size) {
        return super.pageByDTO(s, current, size);
    }
    #end
    #if(${generateImport})

    @Override
    public <U> boolean excelImport(InputStream is, Class<U> clazz) {
        // ${entity}InsertDTO
        return super.excelImport(is, clazz);
    }
    #end
    #if(${generateExport})

    @Override
    public <S,U> void excelExport(S s, OutputStream os, Class<U> clazz, Long current, Long size, String... includeFields) {
        super.excelExport(s, os, clazz, current, size, includeFields);
    }
    #end

#end

}
#end
